body{

}
#word{
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 255, 0.568), rgba(255, 255, 255, 0.438));
    width: 100%;
    height: 100vh;



}
#word h1{
    color: brown;
}
.div1{
    display: block;
    text-align: center;
    width: 700px;
    height: 500px;
    background-color: aqua;

}
.div2 img{
    height: 400px;
    width: 100%;
    border: 1px 2px 2px 5px  solid black;

}
.div2{
    width: 400px;
    height: 550px;
    color: floralwhite;
    background-color: rgba(231, 138, 16, 0.30);
    display: block;
    justify-content: center;
}
.div1{
    width: 400px;
    height: 550px;
    display: inline-block;
    justify-content: center;

}
form{
    display: block;
    text-align: center;
}
input {
    border: none;
    border-bottom: 1px solid black;
    background-color: aqua;
    padding-left: 10px;

}

label{
    border: none;
    padding-right: 50px;
    margin-right: 20px;  
}
.div2 p{
    color: rgb(185, 212, 236);
    display: block;
    justify-content: center;
    margin-left: 110px;
}
.div2{
    color: #fff;
    opacity: 6;
}
input[type="button"]{
    border: 15px solid darkgoldenrod;
    background-color: brown;
    color: #fff;
}
